body,
html {
  background: #272f32;
  color: #f2f2f2;
  font-family: 'Lato', Sans-Serif, Helvetica, Arial;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  a {
    color: #fff;
    border: 0.1rem solid #f2f2f2;
    text-decoration: none;
    padding: 1rem 6rem;
    border-radius: 29rem;
    text-transform: uppercase;
    transition: all 0.33s ease-in-out;
    -webkit-transition: all 0.33s ease-in-out;
    -moz-transition: all 0.33s ease-in-out;
    &:hover {
      border: 1px solid #0AD2B9;
      color: #0AD2B9;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Raleway', Sans-Serif, Helvetica, Arial;
    font-weight: 200;
  }
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    &.sub {
      font-size: 2rem;
      letter-spacing: 0.2rem;
      margin: 0 auto;
      font-family: 'Poiret One', cursive;
      color: #808080;
    }
  }
  .contact {
    font-size: 0.9rem;
    color: #747575;
    text-align: center;
    a {
      color: #747575;
      padding: 0 0.6rem;
      border: 0 solid transparent;
      text-transform: none;
      font-weight: 900;
      &:hover {
        color: #0AD2B9;
      }
    }
    .icon:before {
      font-size: 2rem;
      line-height: 2rem;
      vertical-align: middle;
    }
  }
  .address {
    font-style: normal;
    text-align: center;
    margin: 3rem auto;
    a {
      font-family: 'Raleway', Sans-Serif, Helvetica, Arial;
    }
  }
  #main,
  header {
    width: 100%;
    max-width: 132rem;
    margin: 0 auto;
    display: block;
  }
  header {
    padding: 6rem 1.5rem;
    h1 {
      text-align: center;
    }
  }
  #gallery {
    div {
      margin: 1.5rem;
      &:first-of-type {
        margin-top: 0;
      }
      &:last-of-type{
        margin-bottom: 0;
      }
      img {
        max-width: 82rem;
        width: 100%;
        margin: auto;
        display: block;
        border-radius: 0.2rem;
      }
    }
  }
}
